<div class="container-fluid">
  <div class="row" id="page-header">
    <h3>{{dayNow}}</h3>
  </div>
  <div class="row" id="page-body">
    <div class="col-5">
      <div class="row">
        <div id="list-news">
          <ul class="nav flex-column" *ngIf="news">
            <li class="nav-item" *ngFor="let item of news" (click)="onListNewsClicked(item)">
              <a click="getDetail()" href="#{{item.ID}}" class="list-group-item list-group-item-action list-group-item-light" data-toggle="list"
                role="tab">{{item.title}}{{item.meta}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row" id="list-news-foot">
        <div id="nav-group" class="btn-group btn-group-sm" role="group" aria-label="page navigation small button group">
          <button type="button" class="btn btn-secondary" (click)="onPreviousClick()">Previous</button>
          <button type="button" class="btn btn-secondary" (click)="onNextClick()"> Next </button>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="tab-content" id="news-detail" *ngIf="news" >
        <div *ngFor="let item of news" class="tab-pane fade" id="{{item.ID}}" role="tabpanel">{{item.content}}</div>
      </div>
    </div>
  </div>
</div>